@keyframes slideUp{
    from{
      transform: translateY(-100%);
    }
    to{
      transform: translateY(0%);
    }
  }

.Ingame{
    background-image: url("../../images/bg.jpg");
    display: flex;
    min-height: 100vh;
    justify-content: start;
    flex-direction: column;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slideUp 0.3s ease-in;
    transition: transform 0.3s ease;
}

.ingame-top-section{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.level-show-text{
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    text-align: left;
    padding-top: 1.5rem;
    padding-left: 0.5rem;
}

.back-btn{
    width: 95px;
    height: 40px;
    background-color: #FF9999;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #ffffff;
    font-size: 18;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
    margin-right: 1rem;
}

.game-window{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@media only screen and (min-width:1366px){
    .level-show-text{
        font-size: 30px;
        margin-left: 2rem;
    }
    .back-btn{
        width: 150px;
        height: 50px;
        font-size: 20px;
    }
}